.basket{
  position:absolute;
  background-color: rgb(254, 255, 255);
  height: 220px;
  width: 300px;
  right:10%;
  margin-top: -35px;
  font-weight: 400;
  border-radius: 3%;
  font-family: 'Kumbh Sans', sans-serif;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.basketnone{
  display: none;
}
